// Colors
$blue: rgba(66,183,217,1);

$font-heading: 'Margarine', cursive;
$font-stack: 'PT Sans Narrow', sans-serif;
$font-archivo: 'Archivo Narrow', sans-serif;

$color-main: rgba(0,0,0,1);
$color-red: rgba(184,8,8,1);
$color-blue: rgb(66,183,217);
$color-green: rgb(134,174,53);
$color-orange: rgb(245,183,69);
//$color-purple: rgb(124,118,181);
//$color-purple: rgb(67,58,108);
$color-purple: rgb(130,119,183);
// Structure
$size__site-main: 100%;
$size__site-sidebar: 25%;
$tabwidth: 600px;
$midwidth: 830px;
$largetab: 900px;
$deskwidth: 1160px;
$bigscreen: 1400px;

.black {
	color: #000;
}
.purple-text {
	color: $color-purple;
}

